* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
}

.left {
  scale: 0.8;
  position: relative;
  top: 2rem;
  left: 2rem;
}

.right {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-end;
  gap: 2rem;
  position: relative;
  right: 5rem;
  top: 4rem;
}

.right h1 {
  font-family: sans-serif;
  font-size: 6rem;
  font-weight: 700;
}

.button-1 {
  color: white;
  background-color: black;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  width: 35%;
  padding: 10px;
}

.button-1:hover {
  background-color: rgba(0, 0, 0, 0.486);
  cursor: pointer;
}
